.PesonaGunung .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font: 500;
}

.PesonaGunung .Container .img {
    width: 100%;
}

.PesonaGunung .Container .img img {
    width: 100%;
}


.titleaddedpost h2 {
    text-align: center;
    margin-top: 20px;
}





@media (min-width: 900px) {
    .PesonaGunung .Container {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: larger;
    }
    .PesonaGunung .Container .img img {
        width: 100%;
        max-width: fit-content;
    }
    .PesonaGunung .Container .img{
        width: 80%;
        text-align: center;
    }
}

.addedpost-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    gap: 1rem;
}

.addedpost .img {
    background-image: url(/assets/gwkgambar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 300px;
}



@media (min-width: 900px) {
    .addedpost-container {
        flex-direction: row;
    }
}