.content {
    width: 100%;       
    margin-top: 60px;
}
.card-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 560px;
    margin-bottom: 72px;
}

.card p{
    letter-spacing: 0.0125em;
    color: #fff;
    margin-bottom: 32px;
    margin-left: 32px;
    font-family: "Inter", sans-serif;
}

.title-card {
    letter-spacing: 0.0125em;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-bottom: 12px;
}


@media (max-width: 768px){
    
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 350px;
        height: 480px;
    }
    
}



