.content {
    width: 100%;       
    margin-top: 60px;
}
.card-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 560px;
    margin-bottom: 72px;
}

.card p{
    color: #fff;
    margin-bottom: 52px;
    margin-left: 32px;
    font-family: "Poppins", sans-serif;
}

.card-content{
    border-radius: 32px;
    margin-right:24px;
}
.right{
    display: flex;
    
}
.arrow {
    padding:40% 0;
    cursor: pointer;
}
.arrow a{
    color: #232529;
    font-weight: 500;
}
