.Dropdown-Container {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.accordion {
    cursor: pointer;
    background-color: white;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .Dropdown-Container .Circle {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: black;
    text-align: center;
    position: relative;
  }

  .Dropdown-Container .Circle img {
    position: relative;

  }

  .Dropdown-Container .Circle .clicked  img {
    transform: rotate(20deg);
  }

  .Dropdown-Container .accordion {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: larger;
  }

  .Dropdown-Container .panel {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px 20px;

  }

  .Dropdown-Container .panel p {
    padding-bottom: 30px;
  }

  .Dropdown-Container .border {
    border-bottom: 2px solid #EAECF2;
  }




  @media (max-width: 768px) {
    
    .Dropdown-Container {
        width: 70%;
    }
}
