.Hero-Container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.Hero-Container h1 {
    font-weight: 700;
    font-size: 52px;
}
.Hero-Container h1 span {
    color: red;
}
.subHeading {
    font-size : 18px;
    font-family: 'Inter', sans-serif;
    color: #6A707D;
}















@media (min-width: 1200px) {
    .Hero-Container {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }
}