.Hero-Container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.heading{
    margin-bottom: 18px;
}
.Hero-Container h1 {
    font-weight: 700;
    font-size: 52px;
}
.Hero-Container h1 span {
    color: red;
}
.subHeading {
    font-size : 18px;
    font-family: 'Inter', sans-serif;
    color: #6A707D;
    margin-bottom:42px;
}
.iconInfo{
    display: flex;
    margin-bottom: 72px;
}
.info{
    display: flex;
    margin-right: 52px;
}
.info p{
    margin-left:16px;
}
.info span{
    font-weight:700;
    font-size:28px;
}

.start{
    color: #fff;
    background-color: #4C5EFF;
    padding: 14px 32px;
    border-radius: 32px;
}
.see{
    border:1px solid #4C5EFF;
    padding: 14px 32px;
    border-radius: 32px;
}














@media (min-width: 1200px) {
    .Hero-Container {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }
}