.whychoose-container {
    width: 100%;
    background-color: #F8F9FC;
}

.whychoose-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whychoose-content .text {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.whychoose-content .text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
}

.whychoose-content .text p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}






@media (min-width: 768px) {
    .whychoose-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



}