.whychoose-container {
    padding: 32px 0;
    width: 100%;
    background-color: #F8F9FC;
}

.whychoose-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whychoose-content .text {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.whychoose-content .text h1 {
    color: #232529;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 20px;
}

.whychoose-content .text p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-weight: 500;
    color: #6A707D;
}

.whychoose-content img {
    width: 400px;
}






@media (min-width: 768px) {
    .whychoose-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    


}
@media (max-width: 768px) {
    .whychoose-content .text h1 {
        font-size: 20px;
    }
    .whychoose-content .text p {
        font-size: 14px;
    }
    


}